[Unit]
Description=Light hub group config mesh
After=network.target

[Service]
ExecStartPre=/bin/sleep 12
Type=forking
ExecStart = /etc/init.d/vng.services.light.hub.group.config.mesh start
ExecStop = /etc/init.d/vng.services.light.hub.group.config.mesh stop
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
