[Unit]
Description=Access door mesh local
After=network.target

[Service]
ExecStartPre=/bin/sleep 15
Type=forking
ExecStart = /etc/init.d/vng.services.access.door.mesh.local start
ExecStop = /etc/init.d/vng.services.access.door.mesh.local stop
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
