[Unit]
Description= Device light port levels mesh
After=network.target

[Service]
ExecStartPre=/bin/sleep 12
Type=forking
ExecStart = /etc/init.d/vng.services.device.light.port.levels.mesh start
ExecStop = /etc/init.d/vng.services.device.light.port.levels.mesh stop
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
