[Unit]
Description= Device light onoff status mesh
After=network.target

[Service]
ExecStartPre=/bin/sleep 12
Type=forking
ExecStart = /etc/init.d/vng.services.device.light.onoff.status.mesh start
ExecStop = /etc/init.d/vng.services.device.light.onoff.status.mesh stop
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
