[Unit]
Description=Access synchronizer cloud
After=network.target

[Service]
Type=forking
ExecStart = /etc/init.d/vng.services.synchronizer.reader start
ExecStop = /etc/init.d/vng.services.synchronizer.reader stop
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
