[Unit]
Description=Access door mesh
After=network.target

[Service]
ExecStartPre=/bin/sleep 15
Type=forking
ExecStart = /etc/init.d/vng.services.access.door.mesh start
ExecStop = /etc/init.d/vng.services.access.door.mesh stop
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
