[Unit]
Description=Access synchronizer cloud
After=network.target

[Service]
Type=forking
ExecStart = /etc/init.d/vng.services.synchronizer.button start
ExecStop = /etc/init.d/vng.services.synchronizer.button stop
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
