[Unit]
Description=Create wlan0-ap interface
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/create_wlan0_ap.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
